.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: none;
  font-family: helvetica;
}
th {
  text-align: left;
}

#header {
  margin: 0px;
  padding: 20px;
  font-family: helvetica;
  font-weight: bold;
  background-color: black;
  color: white;
}

.header {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.gbox {
  display: inline-block;
  border-style: solid;
  height: 150px;
  width: 150px;
  padding: 0px;
}

.gbox:hover {
  background-color: #CCCCEE;
}

#game #img1 {
  width: 144px;
  margin-top: 12px;
}

#game #img2 {
  width: 144px;
  height: 144px;
}

#game h1, #game h3 {
  display: inline-block;
  margin-bottom: 32px;
}
.gheader_row {
  border-bottom: solid;
  border-width: 1px;
  border-width: 1px;
  padding-bottom: 8px;
  border-color: #AAA;
}

.gheader {
  font-weight: bold;
}

.game_item {
  margin-bottom: 8px;
  margin-top: 8px;
}